#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    hrm_l: hrm_l {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "balanced";
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-on-release;
        hold-trigger-key-positions = <7 20 24 25 33 34 35 36 37 38 46 47 48 49 50 51 8 10 11 12 21 22 23 24 25 9>;
    };

    hrm_r: hrm_r {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_R";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "balanced";
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44>;
    };

    keymap {
        compatible = "zmk,keymap";

        macos {
            bindings = <
&kp GRAVE                  &kp N1          &kp N2             &kp N3              &kp N4          &kp N5           &kp UP_ARROW     &kp N6     &kp N7          &kp N8          &kp N9         &kp N0             &lt 5 BACKSPACE
&kp TAB                    &kp Q           &kp W              &kp E               &kp R           &kp T            &kp DOWN_ARROW   &kp Y      &kp U           &kp I           &kp O          &kp P              &kp BSLH
&mt LA(LC(LSHIFT)) ESCAPE  &hrm_l LCTRL A  &hrm_l LEFT_ALT S  &hrm_l LEFT_META D  &hrm_l LSHFT F  &kp G            &kp LEFT_ARROW   &kp H      &hrm_r RSHFT J  &hrm_r RMETA K  &hrm_r RALT L  &hrm_r RCTRL SEMI  &kp APOS
&kp LSHFT                  &kp Z           &kp X              &kp C               &kp V           &kp B            &kp RIGHT_ARROW  &kp N      &kp M           &kp COMMA       &kp DOT        &kp FSLH           &kp RIGHT_SHIFT
&kp C_MUTE                 &kp F23         &kp DEL            &kp LEFT_SHIFT      &lt 4 SPACE     &kp BACKSPACE    &kp ENTER        &kp ENTER  &lt 1 SPACE     &kp RSHFT       &kp TAB        &kp F24
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "macos";
            label = "macos";
        };

        mac_nav {
            bindings = <
&none       &none   &none           &none           &none            &none       &mmv MOVE_UP     &none                 &none            &none          &none                  &none          &none
&none       &none   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mkp MB4    &mmv MOVE_DOWN   &kp HOME              &kp LA(LEFT)     &kp LA(RIGHT)  &kp END                &kp PG_UP      &none
&kp CAPS    &none   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5    &mmv MOVE_LEFT   &kp LEFT_ARROW        &kp DOWN         &kp UP_ARROW   &kp RIGHT              &kp PAGE_DOWN  &none
&trans      &none   &none           &mkp MCLK       &none            &none       &mmv MOVE_RIGHT  &kp LG(LEFT_BRACKET)  &kp LS(LC(TAB))  &kp LC(TAB)    &kp LG(RIGHT_BRACKET)  &none          &trans
&kp C_MUTE  &trans  &trans          &trans          &trans           &trans      &mkp LCLK        &trans                &trans           &trans         &trans                 &trans
            >;

            display-name = "mac_nav";
            sensor-bindings = <&scroll_encoder>;
            label = "mac_nav";
        };

        windows {
            display-name = "windows";
            bindings = <
&kp GRAVE                  &kp N1             &kp N2             &kp N3          &kp N4          &kp N5           &kp UP_ARROW     &kp N6     &kp N7          &kp N8          &kp N9         &kp N0             &lt 5 BACKSPACE
&kp TAB                    &kp Q              &kp W              &kp E           &kp R           &kp T            &kp DOWN_ARROW   &kp Y      &kp U           &kp I           &kp O          &kp P              &kp BSLH
&mt LA(LC(LSHIFT)) ESCAPE  &hrm_l LEFT_GUI A  &hrm_l LEFT_ALT S  &hrm_l LCTRL D  &hrm_l LSHFT F  &kp G            &kp LEFT_ARROW   &kp H      &hrm_r RSHFT J  &hrm_r RCTRL K  &hrm_r RALT L  &hrm_r RMETA SEMI  &kp APOS
&kp LSHFT                  &kp Z              &kp X              &kp C           &kp V           &kp B            &kp RIGHT_ARROW  &kp N      &kp M           &kp COMMA       &kp DOT        &kp FSLH           &kp RIGHT_SHIFT
&kp C_MUTE                 &kp F23            &kp DEL            &kp LEFT_SHIFT  &lt 4 SPACE     &kp BACKSPACE    &kp ENTER        &kp ENTER  &lt 3 SPACE     &kp RSHFT       &kp TAB        &kp F24
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            label = "windows";
        };

        win_nav {
            display-name = "win_nav";
            bindings = <
&none       &none   &none           &none           &none            &none       &mmv MOVE_UP     &none           &none            &none          &none          &none          &none
&none       &none   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mkp MB4    &mmv MOVE_DOWN   &kp HOME        &kp LC(LEFT)     &kp LC(RIGHT)  &kp END        &kp PG_UP      &none
&kp CAPS    &none   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5    &mmv MOVE_LEFT   &kp LEFT_ARROW  &kp DOWN         &kp UP_ARROW   &kp RIGHT      &kp PAGE_DOWN  &none
&trans      &none   &none           &mkp MCLK       &none            &none       &mmv MOVE_RIGHT  &kp K_BACK      &kp LS(LC(TAB))  &kp LC(TAB)    &kp K_FORWARD  &none          &trans
&kp C_MUTE  &trans  &trans          &trans          &trans           &trans      &mkp LCLK        &trans          &trans           &trans         &trans         &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "win_nav";
        };

        fumbol {
            bindings = <
&kp F1  &kp F2         &kp F3            &kp F4            &kp F5            &kp F6                   &mmv MOVE_UP     &kp F7             &kp F8        &kp F8        &kp F10       &kp F11    &kp F12
&none   &kp LS(GRAVE)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(LEFT_BRACKET)     &mmv MOVE_DOWN   &kp LEFT_BRACKET   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp GRAVE  &none
&trans  &kp LS(MINUS)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp LS(RIGHT_BRACKET)    &mmv MOVE_LEFT   &kp RIGHT_BRACKET  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &none
&trans  &kp LS(EQUAL)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(BACKSLASH)        &mmv MOVE_RIGHT  &kp BSLH           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL  &trans
&trans  &trans         &kp LS(N0)        &trans            &trans            &trans                   &mkp LCLK        &trans             &trans        &trans        &kp N0        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "fumbol";
        };

        kb_func {
            bindings = <
&out OUT_TOG     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       &none  &bt BT_CLR  &none  &none  &none  &none  &none
&none            &none            &none            &none            &none            &none              &none  &none       &none  &none  &none  &none  &none
&none            &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI    &none  &none       &none  &none  &none  &none  &none
&rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD    &none  &none       &none  &none  &none  &none  &none
&none            &none            &none            &none            &none            &none              &none  &tog 2      &none  &none  &none  &none
            >;
        };
    };
};
